body {
	background-image: url('../img/background.jpg');
	font-family: "微软雅黑", "黑体", serif;
	margin: 0;
	padding: 0;
}

#reversi_desk {
	width: 750px;
	margin: 0px auto;
}

#reversi_console {
	float: left;
	width: 110px;
	padding: 10px 0px 0px 10px;
}

#reversi_desk h1 {
	margin: 10px 0px;
	color: black;
	font-size: 50px;
	line-height: 70px;
	font-weight: bold;
	text-shadow: 0px 0px 6px #A33D1B, 0px 7px 3px #754B35;
}

#reversi_desk h1 span {
	color: white;
}

#reversi_desk h3 {
	margin: 0px 20px;
	color: #330000;
	font-size: 25px;
	line-height: 30px;
	font-weight: bold;
	text-shadow: 0px 0px 4px #A33D1B, 0px 5px 2px #754B35;
}

#reversi_desk .button {
	margin: 15px 10px;
	font-size: 20px;
	width: 100px;
	line-height: 300%;
	box-shadow: 0px 4px 10px #482915;
	text-align: center;
	cursor: pointer;
}

#reversi_desk .button:hover {
	background: rgba(255, 255, 255, .6);
	box-shadow: 0px 6px 10px #482915;
}

#reversi_desk .button:active {
	background: rgba(255, 255, 255, .8);
	box-shadow: 0px 2px 5px #482915;
	position: relative;
	top: 2px;
}

#reversi_desk .cbox {
	border: 2px dotted transparent;
	border-radius: 10px;
	width: 100px;
	height: 56px;
}

#reversi_desk .side {
	border: 2px dotted #cc3333;
}

#reversi_desk .cbox span {
	float: right;
	font-size: 30px;
	line-height: 54px;
	font-weight: bold;
	color: #500;
	text-shadow: 0px 0px 3px #E8C488;
	padding-right: 7px;
}

#reversi_interface {
	position: relative;
	float: left;
}

#reversi_chessboard {
	margin: 15px 7px;
	-webkit-transform: perspective(740px) rotateX(0deg);
	transform: perspective(740px) rotateX(0deg);
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
}

#reversi_chessboard table {
	border-spacing: 2px;
}

#reversi_chessboard td {
	width: 70px;
	height: 70px;
	border: 1px solid black;
}

#reversi_chessboard td:hover {
	border: 1px dotted orange;
	background-color: rgba(255, 255, 255, .4);
}
#reversi_desk .black,
		.white {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 auto;
	padding: 17px;
	box-shadow: 0px 0px 4px #482915;
}

.reversi_fdd #reversi_chessboard {
	-webkit-transform: perspective(800px) rotateX(35deg);
	transform: perspective(800px) rotateX(35deg);
}

.reversi_fdd td .black,
		.reversi_fdd td .white {
	margin: 0 auto;
	box-shadow: 0px 4px 4px #482915;
}

#reversi_desk .black {
	background: black;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

#reversi_desk .white {
	background: white;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

#reversi_desk .reversal {
	-webkit-transition: -webkit-transform 400ms ease-in-out, background 0ms 200ms;
	transition: transform 400ms ease-in-out, background 0ms 200ms;
}

#reversi_desk .newest:before,
		.reversal:before {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

#reversi_desk .newest:before {
	background: #f00;
}

#reversi_desk .reversal:before {
	background: #66c;
}

#reversi_desk .prompt {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	margin: 0 auto;
	padding: 0px;
	border: 1px solid #c32c1c;
}

#reversi_selectbox {
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -200px;
	background: #ffffff;
	border: 3px solid #ffeee4;
	box-shadow: 0px 5px 15px #482915;
	padding: 10px 25px;
	color: #472E25;
	font-size: 20px;
	font-size: 22px;
	line-height: 1.5em;
	text-align: center;
	display: none;
}

#reversi_selectbox input:checked+span {
	color: #990000;
	text-shadow: 0px 0px 3px #FF9900;
}

#reversi_buttons {
	margin: 0 45px;
}

#reversi_buttons div {
	float: left;
	margin: 0px 10px;
}

#reversi_pass,
		#reversi_airuning {
	position: initial;
	margin: 0 auto;
	top: 12px;
	left: 50%;
	width: 300px;
	height: auto;
	border-radius: 13px;
	text-align: center;
	font-size: 18px;
	line-height: 26px;
	background: rgba(255, 255, 255, 0.6);
	color: #330000;
	text-shadow: 0px 0px 1px #900;
	display: none;
}

#reversi_airuning {
	width: 200px;
}

@media screen and (max-width: 750px) {
	#reversi_desk {
		width: 540px;
	}

	#title {
		width: 100%;
		padding: 0px;
		text-align: center;
	}

	#reversi_console {
		width: 96%;
		padding: 10px 2%;
	}

	#reversi_desk h1,
			h3 {
		display: inline-block;
	}

	#reversi_desk .cbox {
		float: left;
	}

	#reversi_console .button {
		float: left;
		margin: 0px 5px;
		width: 90px;
	}

	#reversi_no3d {
		display: none;
	}
}